.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: #282c34;
}
#root {
  height: 100%;
  width: 100%;
}
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}
